APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_KEY=1a9f249e18228c390acd
PUSHER_SECRET=1606e99e4d508c8a8dcb
PUSHER_APP_ID=225708

IONIC_APP_ID=null
IONIC_SECRET_ID=null


528059969130
AIzaSyDu9QgnAJCYunGrmBR_KilNlNo6Kw_-PZE